.banner {
  background: #ffe6e6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredericka the Great', cursive;
}

.banner h1 {
  font-size: 60px;
}
