.headerWrap {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.mbl {
  /*font-weight: bold;*/
  font-family: 'Baloo Thambi', cursive;
  /*font-family: 'Crete Round', serif;*/
  /*font-family: 'Fredoka One', cursive;*/
}

.tube {
  background-color: #cc181e;
  border-radius: 5px;
  color: #fff;
  padding: 0px 3px 0px 3px;
}

.youtube {
  background-image: url("/YouTube.png");
  background-color: transparent;
  background-position: center;
  background-size: cover;
}

.youtube a {
  width: 100%;
  height: 38px;
}

.formgroup {
  width: 100%;
  display: flex;
}

.input {
  border-radius: 0;
  border-right: none !important;
  flex-grow: 5;
}

.input:focus {
  border: 1px solid rgba(0,0,0,.15);
}

.Add {
  background: #fff;
  color: #cc181e;
  border-color: #cc181e;
  border-radius: 0;
  border-width: 2px;
}

.Add:hover {
  background-color: #cc181e;
  border-color: #cc181e;
  color: #fff;
}

.Add:active {
  background-color: #cc181e !important;
  border: none !important;
}

.Add:focus {
  background-color: #cc181e !important;
}
