.itemWrap {
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  overflow: hidden;
}

.img {
  float: left;
  margin: 10px;
  height: 138px;
  width: 246px;
}

.img img {
  height: 138px;
  width: 246px;
}

.name {
  overflow: hidden;
  white-space: nowrap;
}

.infos {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.info {
  display: flex;
}

.info p {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 20px
}

.info span {
  display: flex;
  align-items: center;
}

.info span i {
  margin: 5px;
}

.cut {
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  transition: all 0.2s;
  cursor: pointer;
}

.cut:active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.like {
  position: relative;
  display: block;
  margin-right: 10px;
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  transition: all 0.2s;
  cursor: pointer;
}

.like:active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}
