.playingWrap {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.musicInfo {
  height: 100%;
  /*background: #ffe6e6;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*align-items: flex-start;*/
  /*flex-wrap: wrap;*/
}

.musicInfo img {
  margin-top: 10px;
  height: 138px;
}

.context {
  flex-grow: 1
}

.item {
  margin-top: 5px;
  display: flex;
}

.item p {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 20px
}

.item span {
  display: flex;
  align-items: center;
}

.item span i {
  margin: 5px;
}

.volume {
  width: 100%;
  padding: 0;
}

.vBarWrap {
  padding: 0;
}

.vBar {
  background-color: #373a3c;
  height: 3px;
  margin-left: 0;
}

.vUp {
  cursor: pointer;
}

.vDown {
  cursor: pointer;
}

.cut {
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  transition: all 0.2s;
  cursor: pointer;
}

.cut:active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.like {
  margin-right: 10px;
  background-color: #777;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  transition: all 0.2s;
  cursor: pointer;
}

.like:active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.active {
  transform: translate(1px, 1px);
  background-color: #cc181e;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}
