@keyframes scrollInfinite {
  0% { background-position: 0 0; }
  100% { background-position: 0 -320px; }
}

.body {
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
  background-position: center center;
  /*background-size: 500px;*/
  height: 100vh;
  /*animation: scrollInfinite 15s linear infinite;*/
}
